@import 'sons-of-obsidian.css';
* {
  margin: 0;
  padding: 0;
  font-family: "calibri", "微软雅黑";
  color: #666;
}
ul {
  list-style: none;
}
pre {
  background: #333;
  padding: 1em;
}
body {
  background-color: #fff;
}
body nav {
  margin: 0 auto;
  width: 960px;
}
body nav img {
  width: 960px;
  height: 240px;
  box-shadow: #808080 0px 4px 5px;
  border-radius: 5px;
}
body #container {
  position: relative;
  display: flex;
  align-items: flex-start;
  width: 960px;
  margin: 0 auto;
  padding: 30px;
}
body #container aside {
  flex: 1;
  margin: 0em 2em;
  display: flex;
  flex-direction: column;
}
body #container aside #aside-ul {
  width: 6em;
  margin: 0;
}
body #container aside #aside-ul li {
  width: 3em;
  font-size: 1.5em;
  padding-left: 1em;
  margin: 1em 0em;
  text-align: center;
  cursor: pointer;
  color: #fc8;
}
body #container aside #aside-ul li.selected {
  border-left: 3px solid #fc8;
}
body #container aside #aside-ul li a {
  color: #fc8;
  text-decoration: none;
}
body #container aside #aside-ul li:hover {
  border-left: 3px solid #9cf;
}
body #container aside #aside-ul li:hover.selected {
  border-left: 3px solid #fc8;
}
body #container aside #aside-ul li:hover.selected a {
  color: #fc8;
  cursor: auto;
}
body #container aside #aside-ul li:hover a {
  color: #9cf;
}
body #container footer {
  position: absolute;
  display: block;
  bottom: 0;
  width: 100%;
  left: 0;
  text-align: center;
  color: #ccc;
  font-size: 0.8em;
  border-top: #999 dashed 1px;
  padding-top: 10px;
}
body #container section#articles article div.title {
  border-bottom: 1px #ccc solid;
  margin: 2em 0em;
  display: flex;
  align-items: baseline;
}
body #container section#articles article div.title h2 {
  flex: 6;
  color: #666;
  font-size: 1.5em;
}
body #container section#articles article div.title span.date {
  flex: 1;
  width: 5em;
  font-size: 1.3em;
}
body #container section#articles article a {
  color: #fc8;
}
body #container section#articles article p {
  font-family: "calibri", "微软雅黑";
  margin: 1em 0em;
  line-height: 1.5em;
  font-size: 1.1em;
  text-indent: 2em;
}
