page_width=960px
nav_height=2em
bg_src="../../images/bg.png"
bg_color=#eeffff
font_color=#ffcc88
hover_color=#99ccff

*
	margin:0
	padding:0
ul
	list-style:none

body
	background-color:#fff
	nav 
		margin:0 auto
		width:page_width
		img
			width:page_width
			height:240px
			box-shadow:gray 0px 4px 5px 
			border-radius:5px
	#container
		position:relative
		display:flex
		width:page_width
		margin:0 auto
		aside
			flex:1
			margin:30px
			display:flex
			flex-direction:column
			#aside-ul
				width:6em
				li
					font-size:1.5em
					margin:1em
					font-family:"微软雅黑"
					color:font_color
				li:hover
					color:hover_color
					cursor:pointer
		section#articles
			flex:7
			margin:30px
			ul#articles-ul
				li
					margin:1em
					font-family:"calibri","微软雅黑"
					span.date
						font-size:1.3em
						color:#ccc
					a
						text-decoration:none
						color:font_color
						font-size:1.3em
					a:hover
						color:hover_color
					p
						margin-left:(1.3*5)em
						color:#666
		footer
			position:absolute
			display:block
			bottom:0
			width:100%
			left:0
			text-align:center
			color:#ccc
			font-size:0.8em
			border-top:#999 dashed 1px
			padding-top:10px